#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
}

.tarjeta {
  width: 600px;
  height: 321px;
  background-color: transparent;
  border: 2px solid #fff;
}

.form-club {
  display: flex;
  flex-direction: column;
  width: 300px;
  margin: 30px;
  border: 2px solid #fff;
}

.error {
  color: rgb(255, 0, 0);
}

.bandera {
  width: 600px;
  height: 100px;
}
